lang.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CINEMA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FILM" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
		  
            <xs:sequence>
                <xs:element type="xs:string" name="name" maxOccurs="1" minOccurs="1"/>
                <xs:element type="xs:string" name="type" maxOccurs="2" minOccurs="1"/>
                <xs:element type="xs:string" name="year" maxOccurs="1" minOccurs="1"/>
				<xs:element type="xs:string" name="rating" maxOccurs="1" minOccurs="0"/>
                <xs:element type="xs:string" name="description" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>